
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-md-6">

        <div class="card text-white bg-dark mb-3 my-3">
            <div class="card-header">Personellere atanmayı bekleyen</div>
            <div class="card-body">
                <h4 class="card-title font-weight-bold text-center">GÖREV SAYISI</h4>
                @if (ViewBag.AtanmayiBekleyenGorevSayisi > 0)
                {
                    <p class="card-text font-weight-bold text-center" style="font-size:20px;">@ViewBag.AtanmayiBekleyenGorevSayisi</p>
                    <p class="text-right " style="font-size:12px;">
                        İncelemek için <a asp-action="Index" asp-controller="IsEmri"
                                          class="text-white font-italic font-weight-bold" style="text-decoration:underline"> Tıklayınız </a>
                    </p>
                }
                else
                {
                    <p class="card-text font-weight-bold text-center p-4" style="font-size:12px;">Hali hazırda atanmayı bekleyen bir görev bulunmamakta.</p>
                }
            </div>

        </div>
    </div>

    <div class="col-md-6">

        <div class="card text-white bg-dark mb-3 my-3">
            <div class="card-header">Personellerin tamamladığı</div>
            <div class="card-body">
                <h4 class="card-title font-weight-bold text-center">GÖREV SAYISI</h4>
                @if (ViewBag.TamamlanmisGorevSayisi > 0)
                {
                    <p class="card-text font-weight-bold text-center" style="font-size:20px;">@ViewBag.TamamlanmisGorevSayisi</p>
                }
                else
                {
                    <p class="card-text font-weight-bold text-center p-4" style="font-size:12px;">Herhangi bir görev henüz tamamlanmamış.</p>
                }
            </div>

        </div>
    </div>

    <div class="col-md-6">

        <div class="card text-white bg-dark mb-3 my-3">
            <div class="card-header">Yazılan Toplam</div>
            <div class="card-body">
                <h4 class="card-title font-weight-bold text-center">RAPOR SAYISI</h4>
                @if (ViewBag.ToplamRaporSayisi > 0)
                {
                    <p class="card-text font-weight-bold text-center " style="font-size:20px;">@ViewBag.ToplamRaporSayisi</p>
                    <p class=" text-right" style="font-size:12px;">
                        İncelemek için <a asp-action="Index" asp-controller="Bildirim"
                                          class="text-white font-italic font-weight-bold" style="text-decoration:underline"> Tıklayınız </a>
                    </p>
                }
                else
                {
                    <p class="card-text font-weight-bold text-center p-4" style="font-size:12px;">Herhangi bir rapor yazılmamış.</p>
                }
            </div>


        </div>

    </div>

    <div class="col-md-6">

        <div class="card text-white bg-dark mb-3 my-3">
            <div class="card-header">Henüz okumadığınız</div>
            <div class="card-body">
                <h4 class="card-title font-weight-bold text-center">BİLDİRİMLER</h4>
                @if (ViewBag.OkunmamisBildirimSayisi > 0)
                {
                    <p class="card-text font-weight-bold text-center" style="font-size:20px;">@ViewBag.OkunmamisBildirimSayisi</p>
                    <p class="text-right " style="font-size:12px;">
                        Okumak için <a asp-action="Index" asp-controller="Bildirim"
                                       class="text-white font-italic font-weight-bold" style="text-decoration:underline"> Tıklayınız </a>
                    </p>
                }
                else
                {
                    <p class="card-text font-weight-bold text-center p-4" style="font-size:12px;">Hepsini okudunuz.</p>
                }
            </div>


        </div>
    </div>

</div>
