@model RaporUpdateDto
@{
    ViewData["Title"] = "GuncelleRapor";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}


<form asp-action="GuncelleRapor" asp-controller="IsEmri" method="post" class="w-75 mx-auto p-3">
    <div class="text-center lead my-3 mb-1">

        <div class="card text-white bg-dark mb-3" style="">
            <div class="card-header">
                <h5 class="text-white text-left" style="text-decoration:underline;">Görevin Adı: </h5>
                <h6 class="card-title text-left"> @Model.Gorev.Ad</h6>
            </div>

            <div class="card-body">
                <h5 class="text-white text-left" style="text-decoration:underline;"> Görevin Aciliyet Durumu: </h5>
                <h6 class="card-title text-left"> @Model.Gorev.Aciliyet.Tanim</h6>
                <br />
                <h5 class="text-white text-left" style="text-decoration:underline;">Görevin Tanımı: </h5>
                <h6 class="card-title text-left"> @Model.Gorev.Aciklama</h6>
            </div>
        </div>

    </div>

    <div class="form-group">

        <input type="hidden" asp-for="@Model.GorevId" />

        <label asp-for="Tanim"></label>
        <span asp-validation-for="Tanim" class="text-danger"></span>
        <input asp-for="Tanim" type="text" class="form-control" />
    </div>

    <div class="form-group ">
        <label asp-for="Detay"></label>
        <span asp-validation-for="Detay" class="text-danger"></span>
        <input asp-for="Detay" class="form-control" />
    </div>

    <a asp-action="Index" class="btn btn-danger btn-sm"> <i class="fas fa-backward"></i> Vazgeç</a>
    <button type="submit" class="btn btn-primary btn-sm">
        <i class="fas fa-thumbs-up ml-2"></i> Kaydet
    </button>

</form>

@section JavaScript{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

