@model GorevAddViewModel
@{
    ViewData["Title"] = "EkleGorev";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="EkleGorev" asp-controller="Gorev" method="post" class="w-75 mx-auto p-3">

    <div class="form-group">
        <label asp-for="Ad"></label>
        <span asp-validation-for="Ad" class="text-danger"></span>
        <input asp-for="Ad" type="text" class="form-control" />
    </div>
    <div class="form-group ">
        <label asp-for="Aciklama"></label>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
        <input asp-for="Aciklama" class="form-control" />
    </div>
    <div class="form-group">
        <label>Aciliyet durumu Seçiniz</label>
        <span asp-validation-for="AciliyetId" class="text-danger"></span>
        <select asp-for="AciliyetId" type="text" class="form-control"
                asp-items="ViewBag.Aciliyetler">
            <option hidden value="-1">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-dark btn-sm">
        <i class="fas fa-thumbs-up mr-2"></i> Kaydet
    </button>

</form>

@section JavaScript{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

